.socials-list {
  display: flex;
  gap: 10px;

  list-style: none;

  margin: 0;
  padding: 0;
}

.socials-list  svg use {
  transition: 0.3s;

  fill: #D61942;
}

.socials-list a {


  &:hover svg use {
    opacity: 0.6;
  }
}

.phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000;
}

//about

.about {
  background-color: #F7E1E2;

  padding: 100px 0;

  background-image: url(../img/about-cover.svg);
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.about__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-767 {
    order: 2;
  }
}

.about__gallery-picture img {
  background: #FFFFFF;
  border: 2px solid #F7E1E2;
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.17);
  border-radius: 10px;

  @include vp-767 {
    width: 100%;
  }
}

.about__gallery-picture:nth-child(2) img {
  margin-left: auto;
  display: flex;
  margin-right: 50px;
  margin-top: -60px;

  @include vp-1023 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

.about__lead {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: #6B6B6B;
  }
}

// gallery

.gallery__wrapper {
  padding-top: 50px;
}

.gallery-slider {
  padding: 100px 0;
  padding-top: 50px;
}

.gallery-slider img {
  width: 100%;
  height: 225px;

  border-radius: 10px;
}

.gallery-slider .swiper-slide {
	transition: all 0.5s ease;
	padding: 50px 0;
}

.gallery-slider .swiper-slide-active {
	transform: scale(1.2);

  padding-left: 30px;
  padding-right: 30px;
}

.gallery__title {
  text-align: center;
}

// swiper

.swiper-button-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  width: 90px;
}

.gallery-button-wrapper  {
  bottom: 60px;
}

.swiper-button-prev {
  left: 0;

  &::after {
    display: none;
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    display: none;
  }
}

.gallery-button {
  width: 35px;
  height: 35px;

  border-radius: 50%;

  background-color: #D61942;

  &:hover {
    background-color: #EC5D7C;
    opacity: 1;
  }
}

.swiper-slide-duplicate-active {
  margin-right: 0 !important;
}

.gallery-button svg {
  fill: #fff;
}


//advantages


.advantages__title  {
  text-align: center;

  margin-bottom: 100px;
}

.advantages__wrapper {
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;

  position: relative;

  background-image: url(../img/line-1.svg), url(../img/line-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 73% 23%, 97% 100%;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
  }

  @include vp-1023 {
    background-image: none;
  }
}

.advantages__container {
  padding-bottom: 100px;

  @include vp-519 {
    padding-bottom: 20px;
  }
}

.advantages__block ul {
  list-style: none;

  margin: 0;
  padding: 0;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.advantages__block--services {
  max-width: 565px;
}

.advantages__block--sale {
  margin-left: auto;

  width: 565px;
}

.advantages__block--availability {
  margin-top: 130px;

  margin-right: auto;

  width: 565px;

  @include vp-767 {
    margin-top: 0;
  }
}

.advantages__block {

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 100px;

  &--services ul {

    &::before {
      width: 565px;
      height: 435px;

      background-image: url(../img/advantages--services.svg);

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

    &--sale ul {

      &::before {
        width: 565px;
        height: 276px;

        background-image: url(../img/advantages--sale.svg);

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

      &--availability ul {

        width: 265px;

        &::before {
          width: 414px;
          height: 161px;

          background-image: url(../img/advantages--availability.svg);

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      @include vp-519 {
        align-items: start;

        max-width: 300px;
      }
}

.advantages__block-list li {
  margin-bottom: 10px;
}

.advantages__block-list a {
  position: relative;

  display: inline-block;

  padding-left: 50px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;

    width: 25px;
    height: 25px;
  }
}

.advantages__block--services ul li  {

  &:nth-child(1) a::before {
    background-image: url(../img/services_icon-1.svg);
  }

  &:nth-child(2) a::before {
    background-image: url(../img/services_icon-2.svg);
  }

  &:nth-child(3) a::before {
    background-image: url(../img/services_icon-3.svg);
  }

  &:nth-child(4) a::before {
    background-image: url(../img/services_icon-4.svg);

    background-size: 25px 25px;
  }

  &:nth-child(5) a::before {
    background-image: url(../img/services_icon-5.svg);

    background-size: 25px 25px;
  }

  &:nth-child(6) a::before {
    background-image: url(../img/services_icon-6.svg);
  }

  &:nth-child(7) a::before {
    background-image: url(../img/services_icon-7.svg);
  }

  &:nth-child(8) a::before {
    background-image: url(../img/services_icon-8.svg);
  }

  &:nth-child(9) a::before {
    background-image: url(../img/services_icon-9.svg);
  }

  &:nth-child(10) a::before {
    background-image: url(../img/services_icon-10.svg);
  }
}

.advantages__block--sale ul li {

  &:nth-child(1) a::before {
    background-image: url(../img/services_icon-11.svg);

    width: 25px;

    background-size: 25px 38px;
  }

  &:nth-child(2) a::before {
    background-image: url(../img/services_icon-12.svg);
  }

  &:nth-child(3) a::before {
    background-image: url(../img/services_icon-13.svg);
  }

  &:nth-child(4) a::before {
    background-image: url(../img/services_icon-14.svg);
  }

  &:nth-child(5) a::before {
    background-image: url(../img/services_icon-15.svg);
  }
}

.advantages__block--availability ul li {

  &:nth-child(1) a::before {
    background-image: url(../img/services_icon-16.svg);
  }
}

.advantages__block .advantages__block-image img {

  @include vp-519 {
    width: 100px;
  }
}

.advantages__block--services .advantages__block-image {
  position: absolute;

  right: -105px;

  @include vp-519 {
    right: 0;
    top: -8px;
  }
}

.advantages__block--sale .advantages__block-image {
  position: absolute;

  left: -105px;

  @include vp-519 {
    right: 0;
    top: -30px;
    left: auto;
  }
}


.advantages__block--availability .advantages__block-image {
  position: absolute;

  right: 0;

  @include vp-519 {
    top: -40px;
  }
}

//reviews

.reviews {
  background-color: rgba(214, 25, 66, 0.7);
}

.reviews__wrapper {
  padding: 100px 0;

  min-height: 885px;

  background-image: url(../img/reviews-cover.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center -43px;
}

.reviews__title {
  text-align: center;

  color: #fff;

  font-weight: 700;
}

.reviews__text {
  text-align: center;

  color: #fff;

  margin-top: 30px;

  @include vp-519 {
    margin-bottom: 50px;
  }
}

.reviews__review {
  background: #FFFFFF;
  border: 1px solid rgba(87, 84, 84, 0.05);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  padding: 40px 20px;
}

.reviews__review-wrapper {
  display: flex;
  justify-content: space-between;
}

.reviews__review-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.reviews__review-date {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6B6B6B;
  opacity: 0.6;
}

.reviews-slider {
  padding-bottom: 115px;
  padding-top: 15px;
}

.reviews-button {
  width: 35px;
  height: 35px;

  border-radius: 50%;

  background-color: #fff;

  svg {
    fill: #D61942;
  }

  &:hover {
    background-color: #CF133C;
    opacity: 1;

    svg {
      fill: #fff;
    }
  }
}

.reviews__button-wrapper {
  text-align: center;
}


//map

.map {
  background-image: url(../img/map-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background-image: url(../img/map-mask.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.map__wrapper {
  min-height: 951px;

  padding-top: 100px;
  padding-bottom: 100px;
}

.map__title {
  text-align: center;

  color: #fff;
  font-weight: 700;

  margin-bottom: 50px;

  @include vp-767 {
    color: #000;
  }
}

.map__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  margin-bottom: 100px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.map__content-block {
  background: #FFFFFF;
  border-radius: 10px;

  padding: 20px;

  border-left-width: 15px;
  border-left-style: solid;
  border-left-color:#D61942;

  display: flex;
  align-items: center;
}

.map__block {
  z-index: 1;

  @include vp-767 {
    text-align: center;
  }
}

.map__block img {
  border: 6px solid #FFFFFF;
  box-shadow: 0px 3px 5px -3px rgba(43, 50, 43, 0.25);
  border-radius: 10px;
  background-color: #fff;

  height: 330px;
  width: 100%;

  @include vp-767 {
    width: 300px;
  }
}

.map__container-map {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 75px;

  position: relative;

  overflow: visible;

  &::before {
    content: "";

    position: absolute;
    left: 15px;
    top: -84px;

    background-image: url(../img/map-line.svg);
    background-repeat: no-repeat;

    width: 100%;
    height: 510px;

    z-index: 1;
  }

  @include vp-1023 {

    grid-template-columns: 1fr 1fr;

    &::before {
      background-image: none;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;

    gap: 30px;
  }
}

.map__block:nth-child(2) {
  margin-top: 100px;

  @include vp-767 {
    margin-top: 0;
  }
}
