<footer class="footer">
  <div class="footer__wrapper container">
    <a href="#" class="logo">
      <picture>
        <source srcset="img/footer-logo@1x.webp, img/footer-logo@2x.webp 2x" type="image/webp">
        <img class="logo__img" loading="lazy" src="img/footer-logo@1x.png" class="image" width="269" height="55" alt="logo-company" srcset="img/footer-logo@2x.png 2x">
      </picture>
    </a>
    <div class="footer__content">
      <p class="header__adress">Красноярский край, г. Норильск, Вальковское ш., 19 километр</p>
      <a class="phone" href="tel:360010">36-00-10</a>
      <ul class="socials-list"  >
        <li>
          <a href="#">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

